@charset "utf-8";

@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

$border_color_black: 1px solid #000;

@mixin flex($j: flex-start) {
    display: flex;
    align-items: center;
    justify-content: $j;
}

@mixin backGround($url) {
    background-image: $url;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

$border_color_black: 1px solid #000;
$color_gray : rgba(0, 0, 0, 0.4);

body {
    @include flex(center);
    height: 100vh;
    font-family: 'Arita-dotum-Medium';
}

.slide_wrap {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

ul {
    @include flex();
    position: relative;
    top: 0;
    left: 0;
    height: 100%;

    li {
        width: 100%;
        height: 100%;

        a {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            img {
                display: block;
                width: 100vw;
                height: 100%;
            }
        }
    }

}

.text_box {
    position: absolute;
    top: 50%;
    left: 18vw;
    transform: translateY(-50%);

    & > h2 {
        font-size: 4.6rem;
        font-weight: 300;
        margin-bottom: 20px;
    }

    & > p {
        font-size: 2.2rem;
        font-weight: 300;
        margin-bottom: 10px;
    }

    & > span {
        font-size: 1.6rem;
    }
}

.page_nav_wrap {
    @include flex();
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);

    & > .prev,.next,.pause {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    & > .prev {
        @include backGround(url('../images/angle-left.svg'));
    }

    & > .pause {
        @include backGround(url('../images/pause.svg'));
    }

    & > .next {
        @include backGround(url('../images/angle-right.svg'));
    }

    & > ul {
        @include flex(center);

        & > li {
            @include flex(center);
            margin-right: 10px;

            & > button {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $color_gray;
            }

        }

    }
}
